*{
  font-family: Helvetica, Arial, sans-serif;
}
body{
  background-color: #8B8BAE;
}
/* .jumbotron{
  background-color: #282F44 !important;
  box-shadow: 0 8px 6px -6px white;
  color: white;  
} */

.space{
  margin: 50px;
  padding: 20px;
}
.full-width{
  margin: auto;
  padding-top: 15px;
  width: 50%;
  height: 100vh;
}

.question{
  background-color: white;
  margin: 10px;
  padding: 30px;
  border: 2px solid grey;
  border-radius: 10px;
  box-shadow: 0 8px 6px -6px black;
}

.qtext{
  font-style: italic;
  font-weight: bold;
}

td{
  vertical-align: middle;
}